<h1>Welcome Back! Please Sign In</h2>

<div class="form-group container text-center">
  <%= form_with url: '/login' do |f| %>
  Username: <div class="form-control"><%= f.text_field :username %></div>
  Password: <div class="form-control"><%= f.password_field :password %></div>
  
  <div class="btn btn-default"><%= f.submit "Submit" %></div>
  <% end %> 
</div>

