<div class="container text-center">
<h1>Our Instructors</h1>
<h3>Click in the instructor for more information</h3>
<% @instructors.each do |instructor|%>
    <div><img src=<%=instructor.image_url%>><%=link_to instructor.instructor_name, instructor_path(instructor.id)%></div>

    <%end%>
<br>

</div>