<div class="container text-center">

<img src=<%=@instructor.image_url%> alt='Photo of Waldemar Albrecht'><br><br>
<div>
    <%=@instructor.biography%><br><br>
    
    Contact this instructor:  <%=@instructor.email%>
</div>

<div>Specialties:
    <%@instructor.courses.each do |c|%>
        <div><%=c.name%></div>
    <%end%>
</div>
</div>
<img src="https://i.imgur.com/0oW6qOq.png" class="cheese_lines_logo">