<h1><%=@user.username%>'s Courses</h1>
<div class="container text-center row">

<%@user.courses.each do |course|%>
<div class="col "><strong>Course: <%=course.name%></strong><br>
Instructor: <%=course.instructor.instructor_name%>
<img src=<%=course.image%> width=250px class="rounded-circle"></div>

<%end%>

</div>


