<h1><%=@user.username%>'s Courses</h1>

<%@user.courses.each do |course|%>
Course: <%=course.name%><br>
Instructor: <%=course.instructor.instructor_name%><br>
<%course.description%>
<%end%>

<h2>A form for applying and create the relation between course and user</h2>

<h3>users_course views</h3>
