<div class="container text-center">

 
 <p>Formaggio Cheese School was founded by two people passionate about cheese:</p>


<div class="row">
 <div class="col"><img src= https://i.imgur.com/76e2pWl.png alt = "Picture of Mauro Dorigo" width=250px class="rounded"><br>
 <%=link_to "Mauro Dorigo", "https://github.com/purisquiri", target: "_blank" %> : A former cheesemaker in his native Boliva, Mauro is a verified expert on all things cheese. When he's not busy studying at Flatiron School, he is dreaming about getting back into the cheese business stateside.</div> 
  <div class="col"><img src= https://avatars2.githubusercontent.com/u/69478787?s=460&u=49b29ae2dd9a40d188fc7cdb863f120c2a1036f5&v=4 alt = "Picture of Anne Nardolilli" width=270px class="rounded"><br>
 <%=link_to "Anne Nardolilli","https://github.com/griefcat", target: "_blank"%> : Idk just some girl who loves cheese.</div>
</div>
</div>