<div class="container text-center">

 
 <p>Formaggio Cheese School was founded by two people passionate about cheese:</p>


<div class="row">
 <div class="col"><img src= https://avatars3.githubusercontent.com/u/68081665?s=400&u=ac195d4ebbaad1f7b32188ab89738c4ffbe5cdea&v=4, alt = "Picture of Mauro Dorigo"><br>
 <%=link_to "Mauro Dorigo", "https://github.com/purisquiri", target: "_blank" %> : A former cheesemaker in his native Boliva, Mauro is a verified expert on all things cheese. When he's not busy studying at Flatiron School, he is dreaming about getting back into the cheese business stateside.</div> 
  <div class="col"><img src= https://avatars2.githubusercontent.com/u/69478787?s=460&u=49b29ae2dd9a40d188fc7cdb863f120c2a1036f5&v=4 alt = "Picture of Anne Nardolilli"><br>
 <%=link_to "Anne Nardolilli","https://github.com/griefcat", target: "_blank"%> : Idk just some girl who loves cheese.</div>
</div>
</div>