<h1>About us</h1>
 <p><i>Todo empezo en otono del 2020 escribiendo un proyecto para crear una pagina web de una escuela de ensenanza de quesos, despues de cntruir la pagina, nos gusto tanto el proyecto q decidimos, pasar de lo abstracto a lo real y asi se creo la primera escuela quesera en el dmv area.</p></i>

 <p>Formaggio Cheese School was founded by two people passionate about cheese:</p>

 <img src= https://avatars3.githubusercontent.com/u/68081665?s=400&u=ac195d4ebbaad1f7b32188ab89738c4ffbe5cdea&v=4, alt = "Picture of Mauro Dorigo"><br>
 <%=link_to "Mauro Dorigo", "https://github.com/purisquiri", target: "_blank" %> : A former cheesemaker in his native Boliva, Mauro is a verified expert on all things cheese. When he's not busy studying at Flatiron School, he is dreaming about getting back into the cheese business stateside. <br>
  <img src= https://avatars2.githubusercontent.com/u/69478787?s=460&u=49b29ae2dd9a40d188fc7cdb863f120c2a1036f5&v=4 alt = "Picture of Anne Nardolilli"><br>
 <%=link_to "Anne Nardolilli","https://github.com/griefcat", target: "_blank"%> : Idk just some girl who loves cheese.


