<div class="container text-center">
<h1>Welcome to Formaggio Cheese School</h1>
<h2><i>"Where Eating is Learning"</i></h2>
</div>
<img src=https://d336bgvfypm3we.cloudfront.net/uploads/SilvermanHall_20191118_TAS_002-1300x867.jpg alt = "Formaggio Cheese School">

<p>Formaggio Cheese School is the only independent institution of its kind in the United States. Our philosophy is “eating is learning”. We offer classes to get you started on your cheese-making journey taught by renowned instructors dedicated to helping you master your new passion. Simply sign up and see all that Formaggio Cheese School has to offer!</p>